server: https://{{ hostvars[groups['control-planes'][0]]['ansible_host'] }}:9345
token: {{ hostvars[groups['control-planes'][0]]['node_token'].stdout }}
node-name: {{ inventory_hostname }} 
node-ip: {{ ansible_host }}
